div{
    height: 600px;
    width: 600px;
    animation: mukul 4s infinite  ;
    background-color:blue ;
    
   
    
}
@keyframes mukul{
    
form{
    background-color: blue;
}
to{
    background-color: azure;
}
}