input{
    width: 50px;
    border: none; background-color: rgb(60,145,170);
    text-align: center;
}
/* body{
    background-color: black;
} */
.input{
    border:  2px solid black;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(60,145,170);
}
button{
border: none; background-color: rgb(60,145,170);border-radius: 50px;color: white;

}
.product{
    color: #F2F2F2;
    font-weight: 1000;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    width: 500px;
    /* border: 2px solid black; */
    justify-content: space-between;
    background-color: #A6A6A6;
   margin: 10px;
}
.head{
    border: 5px solid #A6A6A6;
    align-items: center;
    width: 37%;
}
.head h1{
    text-align: center;
}