*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
.center{
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5% 30%;
    padding: 12px;
}
h1{
    padding: 15px;
    font-size: 36px;
}
#input{
    margin: 10px;
    padding: 7px ;
    width: 310px;
    border: 0.1px solid #ccc;
    border-radius: 5px;
}
#button{
    padding: 10px 20px;
    color: white;
    background-color: #186DCD;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
p{
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}